.title {
    text-align: center;
    font-family: Orbitron;
    text-shadow: #c50303 2px 3px;
 }

 h3 {
    font-family: Aldrich;
    text-shadow: #c50303 2px 3px;
    font-size: 6rem;
}

.project{
    margin-bottom: 2rem;
    align-content: center;
}

.links {
    display: inline-block;
    margin-top: 0.5rem;
}

.lead {
    margin-top: 0.5rem
}
