body {
  text-align: center;
  background-color: #222324;
  color: white;
  border: #f70202be;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  font-family: Orbitron;
  margin-left: 0.5rem;
  size: 2.0rem;
}


img {
  height: 30rem;
  width: 54rem;
  border: solid 2px crimson 0.5;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

img {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

a {
  transition: color 0.5s ease;
  color: #c50303;
}

a:hover {
  color: #960202;
}

