body {
  text-align: center;
  background-color: #222324;
  color: white;
  border: #f70202be;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  font-family: Orbitron;
  margin-left: 0.5rem;
  size: 2.0rem;
}